* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

#search_box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}

#search_box input {
    width: 400px;
    height: 30px;
    padding-left: 15px;
}

#searchclose,
#srch_btn {
    cursor: pointer;
}

#navbar {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgb(65, 65, 66);
    /* display: none; */
}

#navbar #title {
    color: aliceblue;
    font-size: 25px;
}

#navbar li a,
#navbar li {
    color: aliceblue;
    text-decoration: none;
}

#product_btn,
#Blog_btn {
    cursor:pointer;
    position: relative;
}

#Product_dropdown_btn {
    list-style: none;
    display: none;
    position: absolute;
    top: 20px;
    width: 150px;
    height: 90px;
    background-color: rgb(74, 70, 70);
    padding-left: 10px;
}
#Product_dropdown_btn li{
    margin-top: 10px;
}

#blog_dropdown_btn {
    list-style: none;
    display: none;
    position: absolute;
    top: 35px;
    width: 100px;
    height: 80px;
    background-color: rgb(74, 70, 70);
    padding-left: 10px;
}
#blog_dropdown_btn li {
    margin-top: 10px;

}

#Blog_btn:hover{
    color: red;
} 

/* ============ Footer section ======== */
footer {
    background-color: rgb(72, 66, 66);
}

#footer_Top {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    margin-bottom: 15px;
}

#footer_Top ul {
    list-style: none;
}

#footer_Top ul li {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 900;
    /* text-decoration: underline; */
    color: rgb(219, 220, 221);
}

#footer_Top ul li a {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(205, 209, 212);
}

#newsfooter h3,
#newsfooter h4 {
    color: rgb(205, 209, 212);
    margin-bottom: 10px;
    margin-top: 10px;
}

#sear_subscribe {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#sear_subscribe input {
    width: 200px;
    height: 35px;
    border: none;
    outline: none;
    padding-left: 10px;
}

#Subscribe_btn {
    width: 100px;
    height: 35px;
    border: none;
    outline: none;
    background-color: orange;
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
}

#footer_bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#copy_right {
    font-size: 16px;
    color: aliceblue;
}

#social_link {
    width: 220px;
    /* list-style: none; */
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* ============= Home page ========== */
/* #home_adv_video{
    margin-left: 5%;
} */


/* =============== about page =============== */
#slider_wrapper{
    width: 100%;
    height: 500px;
    overflow: auto;
    }
    #slider_wrapper::-webkit-scrollbar{
        display: none;
    }
    #slider_block{
        width: 700%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: slide 10s infinite;
        transition: 4s;
        /* padding: 1px 0px; */
        object-fit: fill;
    }
    #slider_block img{
    width: 20%;
    height: 500px;
    }
    @keyframes slide {
        0%{ margin-left: 0%;}
        20%{margin-left: -100%;}
        40%{margin-left: -200%;}
        60%{margin-left: -300%;}
        80%{margin-left: -400%;}
        100%{margin-left: -500%;}    
    }

    /* ================ login page =================== */
    #logbody{
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #logform_wrapper{
        width: 400px;
        height: 330px;
        border: 1PX solid black;
        text-align: center;
        box-shadow: 5px 5px 25px rgb(174, 171, 171);
    }
    #logform_wrapper div{
        font-size: 28px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #logform_wrapper input{
        height: 35px;
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 15px;
        border-radius: 2px;
    }
    #submitbtn{
        padding: 2px 15px;
        border-radius: 30px;
    }
    
    